/***********************************************************
 *			style.css
 *		    -----------------
 * Created		: Thr, Dec 11, 2003
 * Copyright		: (C) LookStrike Team
 * WebSite		: http://www.lookstrike.com
 *
 * $Id: style.css,v 1.2 2004/06/07 20:17:58 jsgoupil Exp $
 *
 ***********************************************************/

body { margin: 0px; margin-bottom: 15px; padding: 0px; }
.table_title { background-color: #636799; }
.table_title2 { background-color: #797EB5; }
.table_title3 { background-color: #959AD4; }
.row1 { background-color: #9fa1ca; }
.row2 { background-color: #b4b5da; }
.newtag { background-color: #DBDCF3; }

A:link
{
    COLOR: #222e5c;
    TEXT-DECORATION: underline
}
A:visited
{
    COLOR: #222e5c;
    TEXT-DECORATION: underline
}
A:hover
{
    COLOR: #556294;
    TEXT-DECORATION: underline
}
A:active
{
    COLOR: #13192e;
    TEXT-DECORATION: underline
}
TABLE
{
	FONT: 12px Arial, Helvetica, sans-serif, Verdana;
	COLOR: #000000;
}
TH
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	COLOR: #ffffff;
	HEIGHT: 25px;
	BACKGROUND-COLOR: #55598A;
}
TEXTAREA, INPUT
{
	FONT-FAMILY: Arial;
	FONT-SIZE: 10px;
}
.tableline
{
	BORDER-RIGHT: #576bb9 1px solid;
	BORDER-TOP: #576bb9 1px solid;
	BORDER-LEFT: #576bb9 1px solid;
	BORDER-BOTTOM: #576bb9 1px solid;
}
.littletext
{
	FONT-SIZE: 10px;
}