body {
  margin: 0;
  text-align: left;
  color: black;
  background-color: #fffafa;
}
table {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: right;
}
/* "Outlines" all content */
.ampjuke_outline_table {
    background-color: #fffafa;
	border-spacing: 0px;
 	border: 1px dotted;	
}	
/* Menu items */
.ampjuke_menu_table {	
	width: 130px;
    background-color: #fffafa;
	text-align: left;
	text-transform: uppercase;
    font-family: Tempus Sans ITC, Garamond, Trebuchet MS, Purisa, Arial, sans-serif;
	font-size: 12px;
	line-height: 2.5em;
	border-spacing: 0px;	
}	 
/* Now playing */
.ampjuke_now_playing {
	border: 1px dashed;
	border-color: #000000 #fffafa #fffafa #fffafa;
    font-family: Tempus Sans ITC, Garamond, Purisa, Modern, Arial, sans-serif;
    font-size: 18px;
	line-height: 1.2em;	
	text-align: left;
	border-spacing: 0px;	
}	 

/* The table for content (ie.: not menu, what's playing etc. */
.ampjuke_main_content_table {
	width: 100%;
	background-color: #fffafa;
	border-spacing: 0px; 	
}	
/* Headlines */
.ampjuke_headline_table {
    font-family: Kristen ITC, Garamond, Modern, TSCu_Comic, Purisa, Arial, sans-serif;
	font-size: 18px;
	border-spacing: 0px;	
}
/* Table used for ACTIONS - items just below the headline */
.ampjuke_actions_table {
    font-family: Kristen ITC, Garamond, Comic Sans MS, Purisa, Arial, sans-serif;
	font-size: 16px;
 	text-align: left;
	border-spacing: 0px; 	
}
/* Where all the juicy, relevant stuff is... */
.ampjuke_content_table {
    font-family: Kristen ITC, Garamond, Modern, TSCu_Comic, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2em;
	text-indent: 3px;
	text-align: left;
	border-spacing: 0px;	
}	 
.cover_table {
    font-family: Kristen ITC, Garamond, Modern, TSCu_Comic, Arial, sans-serif;
    font-size: 80%;
	line-height: 1.2em;
	text-indent: 3px;
	text-align: left;
	border-spacing: 0px;	
}	 

/* Pagenumbers */
.ampjuke_pagenumber_table {
    font-family: Kristen ITC, Garamond, Arial, Modern, TSCu_Comic, sans-serif;
 	text-align: center;
	border-spacing: 0px; 	
}
a:link {
	color: #0000ee;
	text-decoration: none;
}		
a:visited {
	color: #0000ee;
	text-decoration: none;
}
a:hover {
	color: #ff3030;
	text-decoration: underline;
}
tr,td {
	color: green;
}	
.hr_std {
 	width: 70%;
 	color: #000000;
} 	
tfield {
    font-family: Kristen ITC, Garamond, Arial, sans-serif;
}	  
