/* The following three definitions sets what happens in the "contents" on each page
tr_alt is the setting for "alternative" (every 2nd) table row.
tr_norm is the setting for the opposite...(!)
tableRollOverEffect is the setting for what happens when the user 'mouseover' a row in the table
*/
body {
   background-color: #000000;
}

.tr_alt {
   background-color: #000000;
}

.tr_norm {
    background-color: #404040;
}       

.tableRollOverEffect{
   background-color: #660000;
}

/* Table used for OUTLINE of all content in AmpJuke */
.ampjuke_outline_table {
   border: 1px solid #00ff00;
   padding: 2px solid #0000;
   border-spacing: 0px;
   margin-left: auto;
   margin-right: auto;
}   
/* Table used for menu-items to the left */
.ampjuke_menu_table {   
   Background-color: #000000;
   border-spacing: 10px;
   border-width: 10px;
   color: #ffffff;
   font-family: Verdana, Samanata, sans-serif, FreeSerif;;
   font-size: 70%;
}   
.ampjuke_now_playing {   
   background-color: #000000;
   border-spacing: 10px;
   border: 1px solid #00ff00;
   border-width: 1px;
   color: #ffffff;
   font-family: Verdana, Samanata, sans-serif, FreeSerif;;
   font-size: 90%;
}   

/* "Dummy" table used for holding content (headline, actions, content, pagenumbers), to the right of the menu: */
.ampjuke_main_content_table {
    background-color: #000000;
   border: 0px;
   border-spacing: 0px;
   border-collapse: collapse;
   color: #ffffff;
   font-family: Arial;
   font-size: 10px;
   background-color: #000000;
}   
/* Table used for HEADLINES - top of page/content */
.ampjuke_headline_table {
   background-color: #000000;
    width: 100%;   
   border: 1px solid #000000;
   border-spacing: 2px;
   border-collapse: collapse;
   color: #ffffff;
   font-family: Verdana, Samanata, sans-serif, FreeSerif;;
   font-weight: bold;
   font-size: 12px;
}   
/* Table used for ACTIONS - items just below the headline */
.ampjuke_actions_table {
   background-color: #000000;
    width: 100%;
    border: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
   color: #ffffff;
    font-family: Verdana, Samanata, sans-serif, FreeSerif;;
    font-size: 11px;
    background-color: #000000;
}
/* Table used for CONTENTS */
.ampjuke_content_table {
   background-color: #000000;
    width: 100%;
    border: 1px dotted #00ff00;
   border-spacing: 1px;
   color: #ffffff;
   font-family: Verdana, Samanata, sans-serif, FreeSerif;;
   font-size: 10px;
}   
/* Table used for controlling how PAGENUMBERS should look like */
.ampjuke_pagenumber_table {
   background-color: #000000;
    width: 100%;
    border: 0px;
   border-spacing: 0px;
   border-collapse: collapse;
   color: #ffffff;
   font-family: Verdana, Samanata, sans-serif, FreeSerif;;
   font-size: 10px;
   background-color: #000000;   
}   
/* This setting controls how totals (f.ex. for albums) is displayed */
.totals {
    font-family: Verdana, Samanata, sans-serif, FreeSerif;;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
}
/* Table setting for covers */
.cover_table {
    width: 100%;
    border: 1px dashed #00ff00;
    border-spacing: 1px;
    font-family: Arial, Saab, sans-serif, FreeSerif;
    font-size: 10px;
}    
/* text-input fields: */
.tfield {
   font-family: Verdana, Samanata, sans-serif, FreeSerif;;
   font-size: 10px;
   border-width: 1px;
   border-color: #00ff00;
}

/* Link settings */
a:link {
   color: #00ff00;
   text-decoration: none;
}      
a:visited {
   color: #009900;
   text-decoration: none;
}
a:hover {
   color: #ff0000;
   text-decoration: underline;
}

/* The "note" is used for "highlighting" something. F.ex. the Admin's options in the lower left corner */
.note {
   font-family: Verdana, Samanata, sans-serif, FreeSerif;;
   font-size: 11px;
   background-color: #c0c0c0;
}   

/* This setting controls the color of HR's: */
.hr_std {
    width: 70%;
    color: #000000;
}     